body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

.pink-btn {
  background-color: #e4b0b6;
  border-color: #e4b0b6;
  border-radius: 6px;
}

.pink-bg {
  background-color: #e4b0b6;
}

.cream-bg {
  background-color: #f6f1e7;
}

.blue-bg {
  background-color: #b5c7d3;
}

.green-bg {
  background-color: #b8d8b8;
}

.yellow-bg {
  background-color: #e6ce81;
}



header {
  flex: 0 80px;
  font-family: 'Courier New', Courier, monospace;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
}  

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  font-size: 1.5em !important;
  font-weight: bold;
  text-align: center;
  padding-left: 0.3em;
  border-bottom: solid rgb(240, 243, 243) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

.nav-link.active {
  color: #f8f9f9 !important;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

@media (max-width: 600px) {
  menu {
    flex-direction: column !important;
    align-items: center;
    padding: 0;
  }

  menu .nav-item {
    padding: 0.5em 0;
  }

  .navbar-brand {
    font-size: 1.2em;
    text-align: center;
  }
}
